.choose_main {
  display: flex;
  flex-direction: column;
  height: 100%;
  h1 {
    width: 90%;
    margin: 50px auto;
    text-align: center;
  }
}
.choose_lang {
  a {
    height: 50px;
    width: 80%;
    margin: 10px auto;
    background: #2977c9;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
