.group {
  //   width: 800px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 37px;
  height: 40px;
}

.group label {
  color: #2977c9;
  font-size: 20px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  border-radius: 10px;
  left: 15px;
  top: -35px;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}
