.header {
  background-color: #2977c9;
  height: 7vh;
  min-height: 49px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .headerLinks {
  display: flex;
}

.header .statistic {
  color: white;
  margin-top: 22px;
}

.header .userDataContainer {
  display: flex;
}

.header .userDataContainer img {
  height: 2.5rem;
  margin-right: 10px;
}

.header .statistic a {
  color: white;
}

.header span {
  display: flex;
  margin-right: 10px;
  margin-top: 6px;
  color: white;
}

.header .logo {
  color: white;
  padding: 10px;
}

.header .logo img {
  height: 2.5rem;
}

.header .logo a {
  color: white;
  padding: 10px;
}
