.header {
  background-color: #2977c9;
  height: 10vh;
  min-height: 50px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header span {
  display: flex;
  margin-right: 5px;
  color: white;
}

.header .logo {
  color: white;
  padding: 10px;
}
