.form {
  margin-top: 25px;
}
.selectLanguageText {
  text-align: center;
  margin: 15px;
}
.wrapperButtons {
  display: flex;
  justify-content: space-around;
}
.buttonSkip,
.wrapperButtons {
  display: block;
  background: #2977c9;
  color: white;
  padding: 15px;
  border-radius: 5px;
  min-width: 300px;
  &:hover {
    background: green;
  }
  &:disabled {
    background: grey;
  }
}
@media screen and (max-width: 435px) {
  .wrapperButtons {
    flex-direction: column-reverse;
    .button {
      margin: 10px;
    }
  }
}
